#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                      &kp A &kp B &kp C                     &kp J &kp K &kp L
		&kp D &kp E &kp F &kp G                     &kp M &kp N &kp O &kp P
		                  &kp H &kp I         &kp Q &kp R
            >;
        };
    };
};
